/* You can add global styles to this file, and also import other style files */
body {
    background-color: #202020;
    /* width: 100%;
    height: 100%; */
    padding: 0;
    margin: 0;
    font-size: 16px;
}
.mainNav {
    background-color: purple;
    padding: 0.5rem;
    font-size: 0.8rem;
}
.mainNav .links {
    display: inline;
}
.mainNav .links a {
    color: inherit;
    text-decoration: none;
    margin: 0 0.5rem;
    background: #8f0295;
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
}
.mainNav .links a:hover  {
    background: #ad09b3;
    transition: 300ms ease all;
}

main, nav, section {
    color: #ddd;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main {
    background-color: #252525;
    width: 100%;
    min-height: 80vh;
}
h1.title {
    width: fit-content;
    padding: 1em;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
}